<%- include('layout') %>

<h2>Opret en ny bruger</h2>
<form action="/users" method="POST">
    <label for="name">Navn:</label>
    <input type="text" name="name" required><br>

    <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <button type="submit">Opret Bruger</button>
</form>
